source https://api.nuget.org/v3/index.json

storage: none
framework: net7.0

# Dev
nuget FSharpPlus
nuget Argu
nuget Dapper.FSharp
nuget DbUp-Core
nuget DbUp-Sqlite
nuget Microsoft.Data.Sqlite
nuget FSharp.SystemTextJson 
nuget Giraffe

# Test
nuget FsUnit
nuget NUnit3TestAdapter
nuget Microsoft.NET.Test.Sdk