source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0

nuget Argu
nuget DbUp-Core
nuget DbUp-Sqlite
nuget FSharpPlus
nuget Microsoft.Data.Sqlite
nuget RepoDb
nuget RepoDb.Sqlite.Microsoft